<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cdu.videoshare.mapper.AdminMapper">
    <insert id="add" parameterType="Admin">
        insert into wn_user (account,password,email) values(#{account},#{password},#{email})
    </insert>

    <select id="getByAccountAndPwd" resultType="Admin">
        select * from wn_admin where account = #{account};
    </select>

    <update id="updatePwd">
        update wn_admin set password=#{password1} where id=#{id}
    </update>
</mapper>